# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
backend/data/*
backend/data/*.json
!backend/data/.gitkeep

# Node
node_modules/
frontend/dist/

# Environment
.env
*.local

# OS
.DS_Store
Thumbs.db

#보안
token.json
backend/credentials.json

# 빌드 결과물 및 기타
dist/
.DS_Store